@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&family=Roboto&family=Roboto+Condensed&family=Roboto+Slab&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .3s linear;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* *<===all font===>* */
/*

font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;

*/
/* *<===My page common styles===>* */
.font-heading1 {
  font-size: 70px;
  color: #151414;
}

.font-heading2 {
  font-size: 55px;
  color: #151414;
}

.font-heading3 {
  font-size: 40px;
}

.font-heading4 {
  font-size: 30px;
}

.font-paragrapgh {
  font-size: 14px;
  color: #737272;
  font-family: 'Roboto', sans-serif;
}

.primary-color {
  color: #F15B22;
}

.container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  margin: 0 auto;
  border-radius:5px;
}

.btn {
  background: #F15B22;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 24px;
  margin: 10px 0;
}

.btn:hover {
  background: #151414;
  cursor: pointer;
}

.btn a {
  color: #fff;
}

/* *<===page main styles===>* */
body {
  width: 100%;
  min-height: 100vh;
  background: #FFFFFF;
  color: #151414;
  margin-bottom: 100px;
}

/* section{
  margin-bottom:100px;
} */

/* *<===header section styles===>* */
.header {
  background: url('../images/banner/banner2.png');
  background-repeat: no-repeat;
  height: 1050px;
  background-size: center;
  background-position: cover;
  transform: scalex(-1);
  text-align: right;
}

.header .banner-info {
  transform: scaleX(-1);
  position: relative;
  top: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header .banner-info .font-heading1 {
  margin-top: 50px;
  margin-left: 50px;
  width: 710px;
}

.header .banner-info .font-paragrapgh {
  font-size: 18px;
  padding: 10px 5px;
  width: 750px;
  padding-left: 110px;
  margin-left: 15px;
}

.header .banner-info .btn {
  margin-left: 570px;
  width: 200px;
  text-align: right;
}

.header .banner-info .btn:hover {
  letter-spacing: 2px;
  font-weight: bold;
}

/* *<===about section styles===>* */
.about {
  padding: 20px 10px;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .row .about-img {
  position: relative;
  /* background-color: #151414; */
  background-image: url('../images/Ellipse2.png');
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: 50% 88%;
  padding: 0 30px;

}

.about .row .about-img img {
  width: 100%;
  height: auto;
}

.about .row .about-info {
  padding: 10px 30px;
}

.about .row .about-info .font-heading3 {
  width: 350px;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  margin: 10px 0;
}

.about .row .about-info .font-paragrapgh {
  font-size: 16px;
  letter-spacing: .5px;
  margin: 20px 0;
}

.about .row .about-info ul {
  list-style-image: url('../images/free_icon_1.svg');
  margin-left: 20px;
}

.about .row .about-info ul li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  padding: 5px 0;
  color: #737272;
}

/* *<===my plan section styles===>* */
.my-plan {
  margin-top: 100px;
  text-align: center;
}

.my-plan .font-heading3 {
  font-family: 'Roboto Slab', serif;
  padding: 50px 0;
  letter-spacing: 1px;
}

.my-plan .plans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.my-plan .plans .plan {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my-plan .plans .plan {
  padding: 10px;
}

.my-plan .plans .plan img {
  width: 50px;
}

.my-plan .plans .plan .font-heading4 {
  font-size: 24px;
  font-weight: 550;
  color: #333;
  margin: 5px 0;
}

.my-plan .plans .plan .font-paragrapgh {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  margin-bottom:10px;
}